@import url("https://fonts.googleapis.com/css?family=Barrio|Ceviche+One&display=swap");
@media screen and (min-width: 601px) {
  .page-heading::after {
    content: "Events";
    -webkit-transform-origin: 50% 20%;
    transform-origin: 50% 20%;
  }
  body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #282828;
  }
  img {
    -o-object-fit: cover;
    object-fit: cover;
  }
  #event-img {
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 20px 0px #e2459385;
    box-shadow: 0px 0px 20px 0px #e2459385;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  .img-wrapper {
    z-index: 1000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 5%;
    margin-left: 10%;
  }
  .wrapper {
    z-index: 1000;
    font-family: "Ceviche One", sans-serif;
    font-size: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    width: 100%;
    height: 100vh;
    margin-left: 1%;
  }
  ul {
    z-index: 1000;
    list-style: none;
  }
  #items {
    width: 15%;
    color: #e24594;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    position: absolute;
    right: 20%;
  }
  .item {
    text-align: center;
    margin: 20px;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    width: 100%;
    padding: 10px;
    border-radius: 0px;
  }
  li {
    width: 100%;
    -webkit-text-stroke: 1px #6cd0ff;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
  li:hover {
    cursor: pointer;
    background-color: #e24594;
  }
  #backdrop {
    z-index: 100;
    top: 40%;
    width: 95%;
    height: 30%;
    background-color: #ffffff10;
    position: absolute;
  }
}

@media screen and (max-width: 600px) {
  .page-heading-wrapper {
    width: 100%;
    background: #282828;
    position: fixed;
    z-index: 20000;
  }
  .page-heading-wrapper h1 {
    margin: 10px;
  }
  .page-heading::after {
    content: "Events";
    -webkit-transform-origin: 50% 20%;
    transform-origin: 50% 20%;
  }
  body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #282828;
  }
  img {
    -o-object-fit: cover;
    object-fit: cover;
  }
  #event-img {
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 20px 0px #e2459385;
    box-shadow: 0px 0px 20px 0px #e2459385;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  .img-wrapper {
    z-index: 1000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 5%;
    margin-left: 10%;
  }
  .wrapper {
    margin-top: 30%;
    z-index: 1000;
    font-family: "Ceviche One", sans-serif;
    font-size: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    width: 100%;
    height: 100%;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .wrapper img {
    width: 80%;
  }
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    z-index: 1000;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #items {
    margin-top: 30px;
    color: #e24594;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    width: 100%;
    height: 100%;
    overflow: auto;
  }
  .item {
    width: 40%;
    text-align: center;
    margin: 5px;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    padding: 10px;
    border-radius: 0px;
  }
  li {
    -webkit-text-stroke: 1px #6cd0ff;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
  li:hover {
    cursor: pointer;
    background-color: #e24594;
  }
  #backdrop {
    z-index: 100;
    top: 40%;
    width: 95%;
    height: 30%;
    background-color: #ffffff10;
    position: absolute;
  }
}
/*# sourceMappingURL=events.css.map */
