@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300");
@import url("https://fonts.googleapis.com/css?family=Barrio|Ceviche+One&display=swap");
body {
  margin-top: 0;
  padding-top: 0;
  position: relative;
}

.magicm {
  z-index: 5000;
  position: absolute;
  top: calc(50% - 10rem);
  left: calc(50% - 10rem);
  width: 10rem;
  height: 10rem;
  background: rgba(215, 25, 24, 0.7);
  opacity: 0.5;
  border-radius: 50%;
}

.magics {
  z-index: 5000;
  position: absolute;
  top: calc(50% - 10rem);
  left: calc(50% - 10rem);
  width: 5rem;
  height: 5rem;
  background: rgba(215, 25, 24, 0.5);
  border-radius: 50%;
}

/*marquee........................................*/
.demo {
  user-select: none;
  position: absolute;
  font-size: 150px;
  width: 100vw;
  overflow: hidden;
  font-family: "Ceviche One", sans-serif;
  z-index: 10000;
}
.marquee span {
  font-size: 40px;
  color: orange;
  margin-left: 100px;
  vertical-align: super;
}

.marquee a {
  color: rgb(108, 208, 255);
  text-decoration: none;
}
.marquee a:hover{
  color: white;
}

@media screen and (max-width: 650px) {

  .marquee{
    margin-top: 60%;
  }
  .demo a {
    text-align: center;
    display: block;
    font-size: 70px;
    margin: 0;
    padding: 0;
  }

  .marquee span {
  display: none;
  }
}

/*menu heading.............................................*/

.menu-heading {
  position: absolute;
  top: -60px;
  left: 60px;
  margin-bottom: 0;
  z-index: 10000;
  font-family: "Sedgwick Ave Display", sans-serif;
  font-size: 4.5rem;
  color: #e24594;
  display: inline-block;
  -webkit-animation: danger-zone 1.5s linear infinite;
  animation: danger-zone 1.5s linear infinite;
}

@media screen and (max-width: 650px) {
  .menu-heading {
    font-size: 2.5rem;
    top: -40px;
    left: 20px;
  }
}

@supports (-webkit-text-stroke: 1px #e24594) {
  .menu-heading {
    -webkit-text-stroke: 0.1px #e24594;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-transition: background-color 200ms ease;
    transition: background-color 200ms ease;
  }
  .menu-heading:hover {
    background-color: #e24594;
    -webkit-text-stroke: 0.1px white;
  }
  .menu-heading::after {
    display: block;
    content: attr(id);
    position: absolute;
    top: 10%;
    left: 0%;
    width: 100%;
    -webkit-text-stroke: 0px white;
    -webkit-text-fill-color: rgba(226, 69, 148, 0.05);
  }
  /*@media screen and (min-width: 650px) {
    .menu-heading::after {
      display: block;
      content: attr(id);
      position: absolute;
      top: 10%;
      left: 0%;
      width: 100%;
      -webkit-text-stroke: 0px white;
      -webkit-text-fill-color: rgba(226, 69, 148, 0.05);
    }
  }*/
}

/*hamburger menu........................................................*/
.menu {
  display: inline-block;
  position: fixed;
  width: 56px;
  top: 10%;
  right: 80px;
  transform: translate(-50%, -50%);
  font-size: 62px;
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
  cursor: pointer;
  z-index: 25000;
}

.menu::before,
.menu::after {
  position: absolute;
  transition: 0.4s ease;
  opacity: 0;
  pointer-events: none;
}
.menu:before {
  content: "M\00a0 \00a0 \00a0 \00a0 \00a0U";
  top: -60px;
  left: -100%;
  width: 215px;
}
.menu:after {
  content: "N";
  top: 50px;
  left: 96%;
}
.menu:hover::before,
.menu:hover::after {
  top: -4.3px;
  opacity: 1;
  transition: 0.2s ease, opacity 0.17s 0.03s ease-in;
}

@media screen and (max-width: 650px) {
  .menu {
    position: absolute;
    top: 10vh;
    left: 100px;
  }

  .curtain-menu-open .menu {
    position: fixed;
  }
}

.bar {
  width: 85%;
  height: 5px;
  background: #e24594;
  margin: 0 auto 10px;
  transition: transform 0.4s ease;
  border: 1px solid #282828;
}

.check-out {
  width: 60vw;
  z-index: 10000;
  position: fixed;
  bottom: 30px;
  left: 0%;
  font-size: 2rem;
}

.check-out ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.check-out li {
  display: inline;
  padding: 2rem;
}
.check-out a {
  color: white;
}

.check-out a:hover {
  color: rgb(108, 208, 255);
}

/*curtain-menu...........................................*/
#menu {
  position: fixed;
  z-index: 20000;
  cursor: grab;
}

.curtain-menu {
  position: absolute;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
}

.curtain-menu-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 3000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  transition-delay: 0.5s;
  visibility: hidden;
}

.curtain-menu .curtain {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  transition: -webkit-flex 0.45s;
  transition: flex 0.45s;
  transition: flex 0.45s, -webkit-flex 0.45s, -ms-flex 0.45s;
}

.curtain-menu .curtain:nth-child(2) {
  -webkit-flex: 1 0 100%;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  background: transparent;
}

.curtain-menu .curtain:nth-child(odd) {
  background: #282828;
}

.curtain-menu-button-toggle div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 3px;
  background: #1779ba;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  transition-delay: 0.5s;
}

.curtain-menu-open .curtain:nth-child(2) {
  -webkit-flex: 0 0 0%;
  -ms-flex: 0 0 0%;
  flex: 0 0 0%;
}

.curtain-menu-open .curtain-menu-wrapper {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  visibility: visible;
  pointer-events: all;
}

.curtain-menu-open .menu .bar1 {
  -webkit-transform: translateX(-20%) translateY(50%) rotate(-45deg);
  -ms-transform: translateX(-20%) translateY(50%) rotate(-45deg);
  transform: translateX(-20%) translateY(50%) rotate(-45deg);
}

.curtain-menu-open .menu .bar2 {
  -webkit-transform: translateX(-20%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-20%) translateY(-50%) rotate(45deg);
  transform: translateX(-20%) translateY(-50%) rotate(45deg);
}

/*@media screen and (max-width: 600px) {
  .bar1 {
    margin-bottom: 10px;
  }
  .bar {
    margin-bottom: 10px;
  }
}*/

.button {
  position: fixed;
  bottom: 30px;
  right: 5%;
  float: right;
  width: 200px;
  height: 20px;
  font-size: 22px;
  font-family: "Ceviche One", sans-serif;
  text-align: center;
  background: rgba(108, 208, 255, 0.2);
  padding: 15px 20px;
  transition: all 0.5s ease;
  border-radius: 10px;
  cursor: pointer;
  z-index: 6000;
}

.button a {
  text-decoration: none;
  color: #fff;
}

.is-active {
  box-shadow: 0 20px 5px -10px black;
  transform: translateY(10px);
}

@media screen and (max-width: 650px) {
  .check-out {
    width: 10vw;
  }
}
