@import url("https://fonts.googleapis.com/css?family=Faster+One|Reem+Kufi&display=swap");
.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50000;
  width: 100vw;
  height: 100vh;
  overflow: visible;
  background: rgba(0, 0, 0, 0.15);
  opacity: 0;
  visibility: hidden;
}

.modal-dialog {
  width: 60%;
  height: auto;
  position: relative;
  border: 1px solid white;
}
.modal-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-polygon {
  fill: #e24594;
}

.modal-content {
  display: flex;
  flex-flow: column;
  position: relative;
  top: 0;
  left: 0;
  padding: 24px;
  visibility: hidden;
  opacity: 0;
  color: rgba(255, 255, 255, 0.87);
}

.modal-header {
  display: inline-block;
  font-size: 3rem;
  font-family: "Faster One", sans-serif;
  width: 100%;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
}

.modal-body {
  font-size: 1rem;
  font-family: "Reem Kufi", sans-serif;
  letter-spacing: 2px;
  h5 {
    font-size: 1.5rem;
    margin: 10px;
  }
  p {
    margin: 0;
  }
  a {
    color: white;
  }
}

@media screen and (max-width: 600px) {
  .modal-container {
    top: 0;
    left: 0;
  }
  .modal-dialog {
    width: 100%;
    top: 0;
    height: 100%;
    overflow: auto;
  }
}
